/* New code for new things */

/* Base Colour */


#inner-wrap {
	margin-bottom: 20px !important;
}

#inner-wrap:after {
  content: '';
  display: table;
  clear: both;
}

.viewtopic_wrapper {
	padding: 10px 10px 5px;
}

.sub-forumlist ul {
	float: left;
	list-style-type: none;
	margin-left: 20px !important;
}

.sub-forumlist li {
	line-height: 1.5em;
}

body.force_rounded_avatars span.lastpostavatar img.avatar {
    border-radius: 25px;
}

.viewtopic_wrapper .phpbb-ads-center {
	padding: 15px;
}

/* Navbar top */
.top_bar {
	
}

.top_bar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}


.top_bar li a {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
  border-bottom: 3px solid transparent;
  padding: 15px 15px;
  text-transform: uppercase;
}

.top_bar .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.top_bar .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

.top_bar .menu:after {
  content: '';
  display: table;
  clear: both;
}

.top_bar {
	overflow: hidden;
}
/* menu icon */

.top_bar .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: left;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.top_bar .menu-icon .navicon {
  background: #FFFFFF;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.top_bar .menu-icon .navicon:before,
.top_bar .menu-icon .navicon:after {
  background: #FFFFFF;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.top_bar .menu-icon .navicon:before {
  top: 5px;
}

.top_bar .menu-icon .navicon:after {
  top: -5px;
}

.top_bar .menu-btn {
  display: none;
}

.top_bar .menu-btn:checked ~ .menu {
  max-height: 500px;
}

.top_bar .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.top_bar .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.top_bar .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.top_bar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.top_bar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 767px) {
  .top_bar li {
    float: left;
  }
  .top_bar li a {
    padding: 16px 15px;
  }
  .top_bar .menu {
    clear: both;
    float: left;
    max-height: none;
  }
  .top_bar .menu-icon {
    display: none;
  }
}

/* Header Social Icons */

/* Forum IDs */
.forum_id {
	display: block;
	float: left;
	letter-spacing: -1px;
	margin-right: 10px;
	line-height: 0.8em; 
	margin-top: -6px;
	padding-top: -1px;
	position: absolute;
	left: 12px;
}

/* Category Desc */
.category_desc {
	text-transform: none;
}

/* Threaded Lists */
.forabg ul.topiclist li.row:before  {
	content: "";
	display: block;
	width: 3px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 30px;
	z-index: -1;
}

ul.topiclist {
	position: relative;
}


/* Horizontrol Viewtopic (taken from responsive.css) */

body.postprofile_horizontal .postbody {
	position: inherit;
	float: none !important;
}

body.postprofile_horizontal .postprofile, body.postprofile_horizontal .postbody, body.postprofile_horizontal .search .postbody {
	display: block;
	width: auto;
	float: none;
	padding: 0;
	min-height: 0;
	text-align: left;
}

body.postprofile_horizontal .post .postprofile {
	width: auto;
	border-width: 0 0 1px 0;
	padding-bottom: 20px;
	margin: 0;
	margin-bottom: 5px;
	min-height: 40px;
	overflow: hidden;
	float: none;
}

body.postprofile_horizontal .postprofile dd {
	display: none;
}

body.postprofile_horizontal .postprofile dt, body.postprofile_horizontal .postprofile dd.profile-rank, body.postprofile_horizontal .search .postprofile dd {
	display: block;
	margin: 0;
}

body.postprofile_horizontal .postprofile .has-avatar .avatar-container {
	margin: 0;
	overflow: inherit;
}

body.postprofile_horizontal .postprofile .avatar-container:after {
	clear: none;
}

body.postprofile_horizontal .postprofile .avatar {
	margin: 0 5px 0 0px;
	float: left;
}

body.postprofile_horizontal .postprofile .avatar img {
	width: auto !important;
	height: auto !important;
	max-height: 32px;
}

body.postprofile_horizontal .has-profile .postbody h3 {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

body.postprofile_horizontal .has-profile .post-buttons {
	right: 30px;
	top: 15px;
}

body.postprofile_horizontal .online {
	background-size: 40px;
}
	
	
/* Enhanced Support for Board Announcements */
#phpbb_announcement {
	border-radius: 0 !important;
	padding: 20px !important;
	font-size: 1em !important;
	margin-bottom: 20px !important;
	margin-top: 0px !important;
}
	